.back {
  width: 100vw;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../public/img/mainImage.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.article {
  z-index: -0;

  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.481) 1px 0 7px;
  font-weight: 300;
  font-size: 3rem;
  color: white;
}

.span1 {
  position: relative;
  top: 30vh;
  animation: slide 450ms linear 0s normal 1 backwards;
}
.span2 {
  position: relative;
  top: 30vh;
  animation: slide 450ms linear 490ms normal 1 backwards;
}
.span3 {
  position: relative;
  top: 30vh;
  animation: slide 450ms linear 980ms normal 1 backwards;
}

.companyName {
  color: rgb(232, 206, 75);
  position: relative;
  top: 30vh;
  font-weight: 800;
  font-size: 4.5rem;
  animation: slide 450ms linear 1470ms normal 1 backwards;
}

@keyframes slide {
  from {
    top: 28.5vh;
    opacity: 0;
  }
  to {
    top: 30vh;
    opacity: 1;
  }
}
