.back {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../public/img/mainImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.481) 1px 0 7px;
  font-weight: 400;
  font-size: 3rem;
  color: white;
}
