.titleBox {
  height: 2.4rem;
  padding: 1rem 1.5rem;
  margin: 0 0 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(33, 45, 58);
}

.title {
  margin: 0;
  padding: 0;
  color: rgb(232, 206, 75);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.itemContainer {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.item {
  height: 25rem;
  width: 15rem;
  border: solid rgb(33, 45, 58) 1px;
  border-radius: 5px;
  margin-top: 1rem;
}

/*이미지 중앙 정렬*/
.imgBox {
  width: 100%;
  height: 73%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
}

.info {
  background-color: rgb(33, 45, 58);
  border-radius: 0 0 3px 3px;
  width: 100%;
  height: 27%;
}

.name {
  margin: 0;
  position: relative;
  top: 18px;
  left: 20px;
  color: rgb(235, 205, 52);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.unitBox {
  position: relative;
  top: 23px;
  left: 20px;
}

.unit {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(208, 208, 208);
  margin: 5px 0 0 0;
}
