.componentBox {
  margin: 2.5rem 0;
  width: 63rem;
  font-family: "Roboto", sans-serif;
}

.titleBox {
  height: 2.4rem;
  padding: 1rem 1.5rem;
  margin: 0 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(33, 45, 58);
}

.title {
  margin: 0;
  padding: 0;
  color: rgb(232, 206, 75);
  font-size: 2rem;
}

.itemBox {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-gap: 1rem;
}

.item {
  width: 14rem;
  height: 20rem;
  border: solid rgb(33, 45, 58) 1px;
  border-radius: 5px;
  overflow: hidden;
}

.imgBox {
  width: 100%;
  height: 73%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: white;
  border-radius: 5px 5px 0 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  background-color: rgb(33, 45, 58);
  border-radius: 0 0 3px 3px;
  width: 100%;
  height: 27%;
}

.name {
  margin: 0;
  position: relative;
  top: 12px;
  left: 20px;
  color: rgb(235, 205, 52);
  font-weight: 500;
  font-size: 1rem;
}

.unitBox {
  position: relative;
  top: 13px;
  left: 20px;
  font-weight: 300;
  color: rgb(208, 208, 208);
}

.unit {
  margin: 5px 0 0 0;
}

@media (max-width: 1023px) {
  .componentBox {
    width: 46rem;
  }

  .itemBox {
    grid-template-columns: repeat(1, 46rem);
    grid-template-rows: 1fr;
  }

  .item {
    width: 46rem;
    height: 8rem;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
  }

  .imgBox {
    width: 100%;
    height: 8rem;
  }

  .info {
    width: 100%;
    height: 100%;
  }

  .name {
    top: 20px;
    left: 25px;
    font-size: 1.5rem;
  }

  .unitBox {
    font-size: 1rem;
    top: 23px;
    left: 25px;
  }
}

@media (max-width: 737px) {
  .componentBox {
    width: 36rem;
  }
  .item {
    width: 36rem;
  }
}

@media (max-width: 577px) {
  .componentBox {
    width: 20rem;
  }
  .item {
    width: 19rem;
    height: 7rem;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr;
  }
  .name {
    font-size: 1.05rem;
    top: 10px;
    left: 10px;
  }
  .unitBox {
    top: 13px;
    left: 10px;
  }
}
