.main {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/mainImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  color: white;
}
