.componentBox {
  margin: 2.5rem 0 4.5rem 0;
  width: 63rem;
  font-family: "Roboto", sans-serif;
  border: red solid 1px;
}

.titleBox {
  height: 2.4rem;
  padding: 1rem 1.5rem;
  margin: 0 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(33, 45, 58);
}

.title {
  margin: 0;
  padding: 0;
  color: rgb(232, 206, 75);
  font-size: 2rem;
}

.itemBox {
  width: 100%;
  text-align: center;
}
.itemBox > img {
  margin-top: 3rem;
  width: 70%;
  height: 100%;
}

@media (max-width: 1023px) {
  .componentBox {
    width: 46rem;
  }
}

@media (max-width: 737px) {
  .componentBox {
    border: blue solid 1px;
    width: 36rem;
  }

  .itemBox > img {
    width: 100%;
  }
}

@media (max-width: 577px) {
  .componentBox {
    border: green solid 1px;
    width: 19rem;
  }
}
