.componentBox {
  margin: 2.5rem 0;
  width: 63rem;
  font-family: "Roboto", sans-serif;
}

.titleBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 25rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../public/img/Partners/background.jpg);
  background-position: left;
  border-radius: 3px;
}

.title {
  text-shadow: rgba(0, 0, 0, 0.3) 1px 0 7px;
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
  color: white;
  text-align: center;
}
.line {
  margin-top: 1.3rem;
  margin-bottom: 1.8rem;
  width: 100px;
  height: 8px;
  background-color: rgb(235, 205, 52);
}

.itemBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item {
  padding: 1em;
  width: 13rem;
  height: 12rem;
  text-decoration: none;
}

.imgBox {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  width: 75%;
}

.desc {
  height: 30%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgb(33, 45, 58);
  justify-content: center;
  border-radius: 5px;
}

.name {
  text-align: center;
  margin: 0;
  color: rgb(235, 205, 52);
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: -0.3px;
}

.mainProduct {
  letter-spacing: -0.3px;
  font-size: 0.9rem;
  color: lightgray;
  font-weight: 100;
}

@media (max-width: 1023px) {
  .componentBox {
    /* border: red solid 1px; */
    width: 46rem;
  }
}

@media (max-width: 737px) {
  .componentBox {
    /* border: blue solid 1px; */
    width: 36rem;
  }
}

@media (max-width: 577px) {
  .componentBox {
    /* border: green solid 1px; */
    width: 20rem;
  }
  .titleBox {
    height: 18rem;
  }
  .item {
    padding: 0 5px;
    width: 8rem;
  }
  .name {
    font-size: 1rem;
  }
  .mainProduct {
    font-size: 0.8rem;
  }
}
