section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.componentBox {
  color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  background-color: rgb(33, 45, 58);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 10px 1rem;
  font-size: 2rem;
  font-weight: 900;
  background-color: rgb(235, 205, 52);
  color: rgb(33, 45, 58);
  text-decoration: none;
  line-height: 1.8rem;
}

.country {
  letter-spacing: -1px;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.menuItem {
  margin-right: 2rem;
  font-weight: 300;
  color: #f1f1f1;
  text-decoration: none;
}

.menuItem:hover {
  color: rgb(235, 205, 52);
}

.dropdownContent {
  padding: 0.8rem 0;
  border-radius: 5px;
  background-color: #f1f1f1d3;
  position: absolute;
  font-weight: 300;
  right: 6rem;
  display: none;
  flex-flow: column nowrap;
}

.dropdownContent a {
  font-size: 1.1rem;
  color: rgb(33, 45, 58);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.dropdownContent a:hover {
  font-weight: 500;
}

.dropdownBtn:hover .dropdownContent {
  display: flex;
}

@media (max-width: 460px) {
  .country {
    display: none;
  }
  .menu {
    padding: 0.5rem 0;
    position: absolute;
    top: 1.5rem;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(24, 32, 43);
    width: 100%;
  }
  .menuItem {
    margin: 0;
  }
  .dropdownContent {
    left: 20%;
    right: auto;
  }
}
